@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*For consistent layouts and to standardise element sizing across the webpage*/
}

:root{
    --primary-color: #8cc1f1;
    --primary-color-dark: #183e9f;
    --text-dark: black;
    --text-light: rgb(88, 88, 88);
    --white: #ffffff;
    --primary-color-text: #1b9ce4;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.6; /* Defines the amount of space between lines of text */
    background-color: var(--primary-color);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);   
    padding: 20px;
    font-size: 2rem;
}

/* Hero Image Section */
#hero-section {
    background-color: var(--primary-color-dark);
    border-radius: 1rem;
    position: relative ;
    max-width: 100%;
    height: 60vh;
    overflow: hidden;
    margin-bottom: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background: url(../images/hero-image.webp) center;
    background-position: center right;

    display: flex;
    align-items: center;
}

.hero-image img {
    border-radius: 5px;
    width: 100%;
    height: 50vh;
    display: block;
    object-fit: cover; /* Ensures the image covers the entire section */
    object-position: center; /* Center the image */
    border-radius: 1rem;
}

.hero-text h2 {
    font-size: 3.5rem; 
}

.hero-text h4 {
    font-weight: 400;
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

.hero-text {
    width: 60%;
}

.hero-text p {
    color: var(--primary-color-text);
    font-size: 2rem;
    text-shadow: none;
    margin-top: 0.5rem;
}

.hero-text {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    text-align: left;
    line-height: 1.2;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 2rem;
    font-size: 2.5rem; /* Adjust the font size as needed */
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Introduction Section*/
#introduction {
    background-color: var(--white);
    margin: 0px 0 0 0;
    text-align: center;
}

#introduction h2 {
    color: var(--primary-color-dark);
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 1.75rem;
    position: absolute;
}

.block {
    background-color: var(--white);
    border-radius: 5px;
    padding: 5%;
    margin-bottom: 10px;
    margin-top: 5px;
}

#services-block img, #departments-block img, #contact-block img  {
        border-radius: 5px;
        width: 50%;
        height: auto;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        margin-top: 5px;
        margin-bottom: 5px;
        margin-inline: 10px;
}

.block .text-container {
    margin-inline: 20px;
}

#services-block, #departments-block, #contact-block {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

/* Lists */
ul, ol {
    margin: 10px 0;
    padding-left: 20px;
}

ul li, ol li {
    margin-bottom: 5px;
}


@media screen and (max-width: 768px) { /* Styles for mobile view */
    body {
        font-size: 20px;
    }

    #hero-section {
        background: url(../images/hero-image-mobile.webp) contain;
        background-position: center;
    }

    .hero-image img { 
        width: 100%;
        max-height: 50vh;
        object-fit: cover;
    } 

    .hero-text button {
        display: none;
    }

    #services-block, #contact-block {
        flex-direction: column-reverse;
    }

    .block h2 {
        text-align: center;
    }

    #services-block img, #contact-block img, #departments-block img {
        align-self: center;
        width: 100%;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    #hero-section {
        background: url(../images/hero-image-mobile.webp) contain;
        background-position: center right;
    }

    #services-block img, #contact-block img, #departments-block img {
        align-self: center;
        width: 100%;
        margin-bottom: 10px;

    }

    #services-block, #contact-block {
        flex-direction: column-reverse;
    }

    .hero-text button {
        display: none;
    }

    .block {
        margin-left: none;
        margin-right: none;
        width: 100%;
    }

    .hero-image {
        width: 100%;
        height: 50vh;
    }
}

@media screen and (min-width: 1024px) { 
    .block {
        padding: 40px;
        margin: 40px 0; 
        margin-left: 15%;
        margin-right: 15%;
    }

    .block h2 {
        color: var(--primary-color-dark);
        font-size: 3rem;
    }

    #services-block, #departments-block, #contact-block {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }

}

